.button {
    padding: 5px;
    border-radius: 2px;
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
}

.button:hover {
    opacity: 0.8;
}

label {
    font-weight: 600;
}

input {
    border: none;
    border: 1px solid #00000022;
    padding: 8px;
    border-radius: 2px;
    background: none;
    outline: none;
}