{
    "server": {
        "host": "127.0.0.1",
        "port": 8000
    },
    "mysql": {
        "auth": {
            "host": "",
            "port": 3306,
            "user": "",
            "password": ""
        },
        "tables": {
            "users": "",
            "flows": ""
        }
    },
    "session": {
        "secret": "",
        "resave": false,
        "saveUninitialized": true,
        "cookie": {}
    }
}