extends includes/main.pug

block title
    title Dashboard

block content
    .row
        .col.debug
            p Hello
        .col.debug
            p world !
        .col.debug
            p world !
        .col.debug
            p world !  
    .row
        .col.x-3.debug
            p world !
        .col.x-3.debug
            p world !
        .col.x-4.debug
            p world !
        .col.x-2.debug
            p world !
        .col.debug
            p World !
        .col.debug
            p World !