.f-1 { background: #1a1b1d; }
.f-2 { background: #3d4856; }
.f-3 { background: #16c7c1; }
.f-4 { background: #4472ff; }
.f-5 { background: #7c7c7c; }
.f-6 { background: #fff; }

.s-1 { border: 1px solid #1a1b1d; }
.s-2 { border: 1px solid #3d4856; }
.s-3 { border: 1px solid #16c7c1; }
.s-4 { border: 1px solid #4472ff; }
.s-5 { border: 1px solid #7c7c7c; }
.s-6 { border: 1px solid #fff; }

.t-1 { color: #1a1b1d; }
.t-2 { color: #3d4856; }
.t-3 { color: #16c7c1; }
.t-4 { color: #4472ff; }
.t-5 { color: #7c7c7c; }
.t-6 { color: #fff; }